
<form method="post" "action="/users/reset_password" class="login">
<div class='field'>
<h1>Having trouble remembering your password?</h1>
<label>Enter your email and we'll reset it for you.</label>
<input type="text" name="email"/>
</div>
<input type="submit" value="Reset"/>
</form>